NodeREDflowA6smartCity.json
[
    {
        "id": "ab51a209bd08b670",
        "type": "tab",
        "label": "Sensornode",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bc44a547a45f9017",
        "type": "tab",
        "label": "Ladestasjon",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e41f2b24f9ea0993",
        "type": "tab",
        "label": "Battery + balance",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2a4db47e83fbdd72",
        "type": "tab",
        "label": "Prisliste Skyserver",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b9448636c2504115",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.137.109",
        "port": "1880",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "764c6dc41f7d5c8d",
        "type": "ui_group",
        "name": "Saldo oversikt",
        "tab": "922aeb09c30249b5",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c0e6fb907a6ce2a4",
        "type": "ui_tab",
        "name": "Sensor",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a85b2b7f859df5cb",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#2cbcc3",
                "baseFont": "Verdana,Verdana,Geneva,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#2cbcc3",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#2cbcc3",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#60d5db",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#2cbcc3",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Verdana,Verdana,Geneva,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "4d495afd36ddd6bf",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.137.230",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "10e78a89.5b4fd5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.137.7",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "61285987.c20328",
        "type": "ui_group",
        "name": "Prisliste",
        "tab": "e7c46d5e.a1283",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e7c46d5e.a1283",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "6c1f54f36ad84aef",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.137.174",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a38a5f406c73b6c9",
        "type": "ui_spacer",
        "z": "ab51a209bd08b670",
        "name": "spacer",
        "group": "670e1a7729c194dc",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "78a20a8cab80c76a",
        "type": "ui_spacer",
        "z": "ab51a209bd08b670",
        "name": "spacer",
        "group": "670e1a7729c194dc",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "09ad6094eff65097",
        "type": "ui_spacer",
        "z": "ab51a209bd08b670",
        "name": "spacer",
        "group": "670e1a7729c194dc",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "913781b156030be6",
        "type": "ui_spacer",
        "z": "ab51a209bd08b670",
        "name": "spacer",
        "group": "670e1a7729c194dc",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "610f6ec0b6dc9f7b",
        "type": "ui_spacer",
        "z": "ab51a209bd08b670",
        "name": "spacer",
        "group": "670e1a7729c194dc",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "1ab02fd03911b436",
        "type": "ui_spacer",
        "z": "ab51a209bd08b670",
        "name": "spacer",
        "group": "670e1a7729c194dc",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "556cb266bffc4813",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "c0e6fb907a6ce2a4",
        "order": 1,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ede260f6a636094f",
        "type": "ui_spacer",
        "z": "ab51a209bd08b670",
        "name": "spacer",
        "group": "",
        "order": 2,
        "width": 16,
        "height": 1
    },
    {
        "id": "451f7349a255a774",
        "type": "ui_spacer",
        "z": "ab51a209bd08b670",
        "name": "spacer",
        "group": "",
        "order": 3,
        "width": 16,
        "height": 1
    },
    {
        "id": "c5b7bb5346a52b57",
        "type": "ui_spacer",
        "z": "ab51a209bd08b670",
        "name": "spacer",
        "group": "",
        "order": 2,
        "width": 16,
        "height": 1
    },
    {
        "id": "99f40035f5c0ccfd",
        "type": "ui_spacer",
        "z": "ab51a209bd08b670",
        "name": "spacer",
        "group": "",
        "order": 3,
        "width": 16,
        "height": 1
    },
    {
        "id": "91abd758372c70de",
        "type": "ui_spacer",
        "z": "ab51a209bd08b670",
        "name": "spacer",
        "group": "",
        "order": 4,
        "width": 16,
        "height": 1
    },
    {
        "id": "381fbabf9f955f42",
        "type": "ui_group",
        "name": "Light level",
        "tab": "c0e6fb907a6ce2a4",
        "order": 2,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "18a16793d10af261",
        "type": "ui_group",
        "name": "Ladestasjon",
        "tab": "e7c46d5e.a1283",
        "order": 2,
        "disp": true,
        "width": 9,
        "collapse": false,
        "className": ""
    },
    {
        "id": "922aeb09c30249b5",
        "type": "ui_tab",
        "name": "Gambling",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "68b146fccb11717a",
        "type": "ui_group",
        "name": "Gas level",
        "tab": "c0e6fb907a6ce2a4",
        "order": 3,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b34d245d.80e2c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "b1da00d4a4965f4a",
        "type": "ui_group",
        "name": "Batteri",
        "tab": "e7c46d5e.a1283",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a3a3d443.23fba8",
        "type": "ui_group",
        "name": "Price List",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "36d0f1d9.9b9d72",
        "type": "ui_group",
        "name": "Price List Table",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a9ab07de.c37e6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "5000ea934fe6c1df",
        "type": "ui_group",
        "name": "Trashstation",
        "tab": "e7c46d5e.a1283",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "71c10c36.5fc0a4",
        "type": "ui_group",
        "name": "Invisible Button Group",
        "tab": "b237ab5f.42c87",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b237ab5f.42c87",
        "type": "ui_tab",
        "name": "Invisible Button Tab",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3ee2d7bc26112f35",
        "type": "ui_spacer",
        "z": "2a4db47e83fbdd72",
        "name": "spacer",
        "group": "b1da00d4a4965f4a",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "4927323316aa2d66",
        "type": "ui_spacer",
        "z": "2a4db47e83fbdd72",
        "name": "spacer",
        "group": "b1da00d4a4965f4a",
        "order": 4,
        "width": 6,
        "height": 1
    },
    {
        "id": "c24ca91ee66065b8",
        "type": "ui_spacer",
        "z": "2a4db47e83fbdd72",
        "name": "spacer",
        "group": "5000ea934fe6c1df",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "9b04818b02782340",
        "type": "ui_spacer",
        "z": "2a4db47e83fbdd72",
        "name": "spacer",
        "group": "5000ea934fe6c1df",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "cb68b2a7284232fe",
        "type": "ui_spacer",
        "z": "2a4db47e83fbdd72",
        "name": "spacer",
        "group": "5000ea934fe6c1df",
        "order": 4,
        "width": 6,
        "height": 1
    },
    {
        "id": "f134d2c3922d91f2",
        "type": "ui_spacer",
        "z": "2a4db47e83fbdd72",
        "name": "spacer",
        "group": "5000ea934fe6c1df",
        "order": 5,
        "width": 6,
        "height": 1
    },
    {
        "id": "120746cb2e75ad79",
        "type": "ui_spacer",
        "z": "2a4db47e83fbdd72",
        "name": "spacer",
        "group": "5000ea934fe6c1df",
        "order": 6,
        "width": 6,
        "height": 1
    },
    {
        "id": "3ac953aa3585cf0e",
        "type": "ui_spacer",
        "z": "2a4db47e83fbdd72",
        "name": "spacer",
        "group": "5000ea934fe6c1df",
        "order": 7,
        "width": 6,
        "height": 1
    },
    {
        "id": "cec1acc104c3fc45",
        "type": "mqtt in",
        "z": "ab51a209bd08b670",
        "name": "Photoresistor",
        "topic": "esp32/lightLevel",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 40,
        "wires": [
            [
                "6d98ba97bf5364f7",
                "ed56ef60c45ed751",
                "9b1bf35f874ee50c"
            ]
        ]
    },
    {
        "id": "6d98ba97bf5364f7",
        "type": "ui_chart",
        "z": "ab51a209bd08b670",
        "name": "Photoresistor UI",
        "group": "381fbabf9f955f42",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Light level [%]",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "cubic",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#eceea0",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#ba92d9"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 840,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "9bfc169db80c9036",
        "type": "ui_chart",
        "z": "ab51a209bd08b670",
        "name": "Temperature UI",
        "group": "556cb266bffc4813",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature [°C]",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "cubic",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#e9a5d0",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 840,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "8141438b98d467d2",
        "type": "ui_chart",
        "z": "ab51a209bd08b670",
        "name": "IAQ UI",
        "group": "68b146fccb11717a",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Indoor Air Quality [%]",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "cubic",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#48b30f",
            "#aec7e8",
            "#ff9896",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "fa696fd9f9d393b0",
        "type": "mqtt in",
        "z": "ab51a209bd08b670",
        "name": "IAQ sensor",
        "topic": "esp32/IAQ",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 220,
        "wires": [
            [
                "ec3c844d13c12896",
                "8141438b98d467d2",
                "31d59057bd73c147"
            ]
        ]
    },
    {
        "id": "209ce860fbf3a53a",
        "type": "mqtt in",
        "z": "ab51a209bd08b670",
        "name": "Temperature sensor",
        "topic": "esp32/temperature",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 520,
        "wires": [
            [
                "9bfc169db80c9036",
                "dc81f55280a18549",
                "a7476e18ff50b8a0"
            ]
        ]
    },
    {
        "id": "842c6626a5170d99",
        "type": "mqtt out",
        "z": "ab51a209bd08b670",
        "name": "lightOutput",
        "topic": "esp32/lightOutput",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 830,
        "y": 120,
        "wires": []
    },
    {
        "id": "ed56ef60c45ed751",
        "type": "function",
        "z": "ab51a209bd08b670",
        "name": "Light controller",
        "func": "// Skrur på lyset når PR måler under 50% [0-4095bit]\n\nvar x = flow.get(\"x\");\n\nif (msg.payload <= 50 && x == 1) {\n    msg.payload = \"ON\";\n    x = 0;\n    flow.set(\"x\", x);\n    return msg;\n}\n\nif (msg.payload > 50 && x == 0) {\n    msg.payload = \"OFF\";\n    x = 1;\n    flow.set(\"x\", x);\n    return msg;\n}\n\n// Ingen publish om ikke grensen på 50 er krysset\nreturn null;\n\n\n\n\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Starter med x = 1, slik at lyset kan slå seg på\n\nflow.set(\"x\", 1);",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 120,
        "wires": [
            [
                "842c6626a5170d99"
            ]
        ]
    },
    {
        "id": "7c57576b8c7451de",
        "type": "mqtt out",
        "z": "ab51a209bd08b670",
        "name": "buzzerOutput",
        "topic": "esp32/buzzerOutput",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 840,
        "y": 580,
        "wires": []
    },
    {
        "id": "a7476e18ff50b8a0",
        "type": "function",
        "z": "ab51a209bd08b670",
        "name": "Temp alarm",
        "func": "var q = flow.get(\"q\");\n\nif (msg.payload >= 30 && q == 1) {\n    msg.payload = \"ON\";\n    q = 0;\n    flow.set(\"q\", q);\n    return msg;\n}\n\nif (msg.payload < 30 && q == 0) {\n    msg.payload = \"OFF\";\n    q = 1;\n    flow.set(\"q\", q);\n    return msg;\n}\n\n// Ingen publish om ikke grensen på 30 er krysset\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set(\"q\", 1);",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 580,
        "wires": [
            [
                "7c57576b8c7451de"
            ]
        ]
    },
    {
        "id": "ec3c844d13c12896",
        "type": "function",
        "z": "ab51a209bd08b670",
        "name": "IAQIndex (0-500)",
        "func": "// Gjør om fra prosent til 0-500, så vi kan følge tabell\n// fra produsent for anbefalinger av tiltak\n\nvar IAQIndex = (100-msg.payload)*5;\n\nreturn { payload: IAQIndex }\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 300,
        "wires": [
            [
                "026bc069536e0f4f",
                "22f98a4fe5423fec"
            ]
        ]
    },
    {
        "id": "cdf6296009a2740a",
        "type": "mqtt out",
        "z": "ab51a209bd08b670",
        "name": "fanOutput",
        "topic": "esp32/fanOutput",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 820,
        "y": 380,
        "wires": []
    },
    {
        "id": "026bc069536e0f4f",
        "type": "function",
        "z": "ab51a209bd08b670",
        "name": "IAQ Alarm",
        "func": "// 251 på IAQ index er alvorlig forurensing og alarm må bli aktivert\nvar z = flow.get(\"z\");\n\nif (msg.payload >= 251 && z == 1) {\n    msg.payload = \"Warning: Dangerous levels of toxic gas have been detected in the air. Evacuate immediately. Do not return until the all clear has been given.\";\n    z = 0;\n    flow.set(\"z\", z);\n    return msg;\n}\n\nif (msg.payload < 251 && z == 0) {\n    msg.payload = \"Attention all personnel, this is an all clear message.The gas levels in the area have returned to safe levels and it is now permissible to return to the area.\";\n    z = 1;\n    flow.set(\"z\", z);\n    return msg;\n}\n\n// Ingen publish om ikke grensen på 251 er krysset\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\nflow.set(\"z\", 1);",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 300,
        "wires": [
            [
                "b1bbfa3029d6a079",
                "055ed7c28b7b0585"
            ]
        ]
    },
    {
        "id": "22f98a4fe5423fec",
        "type": "function",
        "z": "ab51a209bd08b670",
        "name": "IAQ Fan",
        "func": "// Skrur på vifte og ventilerer når IAQ når 101\n\nvar y = flow.get(\"y\");\n\nif (msg.payload >= 101 && y == 1) {\n    msg.payload = \"ON\";\n    y = 0;\n    flow.set(\"y\", y);\n    return msg;\n}\n\nif (msg.payload < 101 && y == 0) {\n    msg.payload = \"OFF\";\n    y = 1;\n    flow.set(\"y\", y);\n    return msg;\n}\n\n// Ingen publish om ikke grensen på 101 er krysset\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\nflow.set(\"y\", 1)",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 380,
        "wires": [
            [
                "cdf6296009a2740a"
            ]
        ]
    },
    {
        "id": "b1bbfa3029d6a079",
        "type": "ui_audio",
        "z": "ab51a209bd08b670",
        "name": "IAQ Alarm lyd",
        "group": "68b146fccb11717a",
        "voice": "Microsoft David - English (United States)",
        "always": true,
        "x": 840,
        "y": 300,
        "wires": []
    },
    {
        "id": "055ed7c28b7b0585",
        "type": "ui_toast",
        "z": "ab51a209bd08b670",
        "position": "dialog",
        "displayTime": "1",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "msg.payload",
        "name": "IAQ Alarm melding",
        "x": 850,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "9b1bf35f874ee50c",
        "type": "ui_text",
        "z": "ab51a209bd08b670",
        "group": "381fbabf9f955f42",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Light text",
        "label": "[%]",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 820,
        "y": 40,
        "wires": []
    },
    {
        "id": "31d59057bd73c147",
        "type": "ui_text",
        "z": "ab51a209bd08b670",
        "group": "68b146fccb11717a",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "IAQ text",
        "label": "[%]",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 820,
        "y": 220,
        "wires": []
    },
    {
        "id": "dc81f55280a18549",
        "type": "ui_text",
        "z": "ab51a209bd08b670",
        "group": "556cb266bffc4813",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Temp text",
        "label": "[°C]",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 820,
        "y": 500,
        "wires": []
    },
    {
        "id": "95a04ce58cbce9dd",
        "type": "ui_button",
        "z": "ab51a209bd08b670",
        "name": "Power saving mode",
        "group": "556cb266bffc4813",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Power saving mode",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "LOW",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 700,
        "wires": [
            [
                "3b821b9364d9e157"
            ]
        ]
    },
    {
        "id": "50f31f4a66412cd6",
        "type": "ui_button",
        "z": "ab51a209bd08b670",
        "name": "Peak performance mode",
        "group": "556cb266bffc4813",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Peak performance mode",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "HIGH",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 740,
        "wires": [
            [
                "3b821b9364d9e157"
            ]
        ]
    },
    {
        "id": "3b821b9364d9e157",
        "type": "mqtt out",
        "z": "ab51a209bd08b670",
        "name": "powerUsage",
        "topic": "esp32/powerUsage",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 830,
        "y": 680,
        "wires": []
    },
    {
        "id": "e76f65a64110cd39",
        "type": "inject",
        "z": "ab51a209bd08b670",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "251",
        "payloadType": "num",
        "x": 430,
        "y": 360,
        "wires": [
            [
                "026bc069536e0f4f",
                "22f98a4fe5423fec"
            ]
        ]
    },
    {
        "id": "0822c0ac7b349881",
        "type": "inject",
        "z": "ab51a209bd08b670",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "101",
        "payloadType": "num",
        "x": 430,
        "y": 400,
        "wires": [
            [
                "22f98a4fe5423fec",
                "026bc069536e0f4f"
            ]
        ]
    },
    {
        "id": "7384873eae551f8a",
        "type": "inject",
        "z": "ab51a209bd08b670",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "100",
        "payloadType": "num",
        "x": 430,
        "y": 440,
        "wires": [
            [
                "22f98a4fe5423fec"
            ]
        ]
    },
    {
        "id": "27565b89e275d423",
        "type": "comment",
        "z": "ab51a209bd08b670",
        "name": "Globale variabler x, y, z, q inni funksjonsblokker",
        "info": "Bruker globale variabler i funksjonsblokkene som tar inn MQTT in. Dette for å sette verdi 1 eller 0 på variablene for å lage XOR logikk mellom IF-setningene i funksjonsblokkene. Blir på denne måten bare sendt 1 melding hver gang grensen for handling blir krysset.",
        "x": 760,
        "y": 440,
        "wires": []
    },
    {
        "id": "4187c8228e420efe",
        "type": "inject",
        "z": "ab51a209bd08b670",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "30",
        "payloadType": "num",
        "x": 150,
        "y": 580,
        "wires": [
            [
                "a7476e18ff50b8a0"
            ]
        ]
    },
    {
        "id": "2be811e284b60dd8",
        "type": "inject",
        "z": "ab51a209bd08b670",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "29",
        "payloadType": "num",
        "x": 150,
        "y": 620,
        "wires": [
            [
                "a7476e18ff50b8a0"
            ]
        ]
    },
    {
        "id": "8552eb72d1b363e0",
        "type": "comment",
        "z": "ab51a209bd08b670",
        "name": "Power saving",
        "info": "Skrur av Serial, skrur ned clock speed, lengre intervall mellom målinger, wifi.sleep er på",
        "x": 190,
        "y": 780,
        "wires": []
    },
    {
        "id": "6a1f2d42a873ba9e",
        "type": "ui_button",
        "z": "bc44a547a45f9017",
        "name": "",
        "group": "18a16793d10af261",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "50%",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "50%",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "8709a43c837ed737"
            ]
        ]
    },
    {
        "id": "4b133d079fd9f734",
        "type": "ui_button",
        "z": "bc44a547a45f9017",
        "name": "",
        "group": "18a16793d10af261",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "100%",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "100%",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "8709a43c837ed737"
            ]
        ]
    },
    {
        "id": "11182cb49216f65e",
        "type": "ui_button",
        "z": "bc44a547a45f9017",
        "name": "",
        "group": "18a16793d10af261",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "80%",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "80%",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "8709a43c837ed737"
            ]
        ]
    },
    {
        "id": "8709a43c837ed737",
        "type": "mqtt out",
        "z": "bc44a547a45f9017",
        "name": "",
        "topic": "charging",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 400,
        "y": 60,
        "wires": []
    },
    {
        "id": "25bbe17cad396670",
        "type": "mqtt out",
        "z": "bc44a547a45f9017",
        "name": "",
        "topic": "newAccountBalance",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 440,
        "y": 300,
        "wires": []
    },
    {
        "id": "0e87caf1669b4fe6",
        "type": "inject",
        "z": "bc44a547a45f9017",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "8000",
        "payloadType": "num",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "25bbe17cad396670"
            ]
        ]
    },
    {
        "id": "fd7c072f76cecfd0",
        "type": "mqtt out",
        "z": "bc44a547a45f9017",
        "name": "",
        "topic": "newBatteryLevel",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 430,
        "y": 340,
        "wires": []
    },
    {
        "id": "f93c1d0a695e0c9d",
        "type": "inject",
        "z": "bc44a547a45f9017",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "100",
        "payloadType": "num",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "fd7c072f76cecfd0"
            ]
        ]
    },
    {
        "id": "e7df42e4f090af21",
        "type": "ui_button",
        "z": "bc44a547a45f9017",
        "name": "",
        "group": "18a16793d10af261",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Fast charging",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Fast charging",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 220,
        "wires": [
            [
                "8709a43c837ed737"
            ]
        ]
    },
    {
        "id": "726ccd502252a99a",
        "type": "inject",
        "z": "bc44a547a45f9017",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "30",
        "payloadType": "num",
        "x": 110,
        "y": 380,
        "wires": [
            [
                "880cc9e2ffacc203"
            ]
        ]
    },
    {
        "id": "880cc9e2ffacc203",
        "type": "mqtt out",
        "z": "bc44a547a45f9017",
        "name": "",
        "topic": "batteryHealth",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 410,
        "y": 380,
        "wires": []
    },
    {
        "id": "17228ac4adf54bbf",
        "type": "ui_button",
        "z": "bc44a547a45f9017",
        "name": "Usynlig knapp",
        "group": "5000ea934fe6c1df",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "invisible-button",
        "icon": "",
        "payload": "20",
        "payloadType": "num",
        "topic": "emergenyCharge",
        "topicType": "str",
        "x": 4700,
        "y": 4960,
        "wires": [
            [
                "6297bf74c89ada6f"
            ]
        ]
    },
    {
        "id": "0bad50b6a26efcbc",
        "type": "ui_template",
        "z": "bc44a547a45f9017",
        "group": "5000ea934fe6c1df",
        "name": "Invisible Button CSS",
        "order": 8,
        "width": 0,
        "height": 0,
        "format": "<style>\n    /* Disable the default Node-RED button styling */\n    .invisible-button.nr-dashboard-button {\n        background-color: transparent !important;\n        border: none !important;\n        box-shadow: none !important;\n        color: inherit !important;\n        text-shadow: none !important;\n    }\n\n    /* Make the button invisible */\n    .invisible-button.nr-dashboard-button {\n        opacity: 0;\n        position: absolute;\n        left: 0;\n        top: 0;\n        width: 100%;\n        height: 100%;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "invisible-button",
        "x": 4880,
        "y": 4920,
        "wires": [
            []
        ]
    },
    {
        "id": "6297bf74c89ada6f",
        "type": "mqtt out",
        "z": "bc44a547a45f9017",
        "name": "",
        "topic": "emergencyCharge",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 4890,
        "y": 4960,
        "wires": []
    },
    {
        "id": "57b74a156def0e5d",
        "type": "ui_gauge",
        "z": "e41f2b24f9ea0993",
        "name": "",
        "group": "18a16793d10af261",
        "order": 5,
        "width": 9,
        "height": 6,
        "gtype": "gage",
        "title": "Nytt batterinivå",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b31200",
            "#e6e600",
            "#3acb6c"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 380,
        "y": 80,
        "wires": []
    },
    {
        "id": "637af96c4ab5f52e",
        "type": "mqtt in",
        "z": "e41f2b24f9ea0993",
        "name": "",
        "topic": "newBatteryLevel",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 80,
        "wires": [
            [
                "57b74a156def0e5d"
            ]
        ]
    },
    {
        "id": "4cd26363f198a49b",
        "type": "mqtt out",
        "z": "e41f2b24f9ea0993",
        "name": "",
        "topic": "currentAccountBalance",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 950,
        "y": 240,
        "wires": []
    },
    {
        "id": "d994995ae42da2fc",
        "type": "mqtt out",
        "z": "e41f2b24f9ea0993",
        "name": "",
        "topic": "currentBatteryLevel",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 930,
        "y": 300,
        "wires": []
    },
    {
        "id": "7077c8f93842dc8c",
        "type": "inject",
        "z": "e41f2b24f9ea0993",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10000",
        "payloadType": "num",
        "x": 670,
        "y": 240,
        "wires": [
            [
                "4cd26363f198a49b"
            ]
        ]
    },
    {
        "id": "95bdaf77ab34c39c",
        "type": "inject",
        "z": "e41f2b24f9ea0993",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "80",
        "payloadType": "num",
        "x": 670,
        "y": 340,
        "wires": [
            [
                "d994995ae42da2fc"
            ]
        ]
    },
    {
        "id": "fefdd27f20b1ce7e",
        "type": "mqtt in",
        "z": "e41f2b24f9ea0993",
        "name": "",
        "topic": "newAccountBalance",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 40,
        "wires": [
            [
                "118828e12b63e14c"
            ]
        ]
    },
    {
        "id": "118828e12b63e14c",
        "type": "ui_text",
        "z": "e41f2b24f9ea0993",
        "group": "61285987.c20328",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Oppdatert saldo",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 380,
        "y": 40,
        "wires": []
    },
    {
        "id": "a843177bd9635893",
        "type": "mqtt in",
        "z": "e41f2b24f9ea0993",
        "name": "",
        "topic": "currentBatteryLevel",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 280,
        "wires": [
            [
                "c413a56359606ed7"
            ]
        ]
    },
    {
        "id": "12fa0a7909cb54f1",
        "type": "mqtt in",
        "z": "e41f2b24f9ea0993",
        "name": "",
        "topic": "currentAccountBalance",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 320,
        "wires": [
            [
                "fc2fcdcd828224ef"
            ]
        ]
    },
    {
        "id": "914d82ae08d8e729",
        "type": "ui_button",
        "z": "e41f2b24f9ea0993",
        "name": "",
        "group": "b1da00d4a4965f4a",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Bytt Batteri (2000)",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "2000",
        "payloadType": "num",
        "topic": "changeBattery",
        "topicType": "msg",
        "x": 690,
        "y": 40,
        "wires": [
            [
                "dcf8d92363558b9c"
            ]
        ]
    },
    {
        "id": "dcf8d92363558b9c",
        "type": "mqtt out",
        "z": "e41f2b24f9ea0993",
        "name": "",
        "topic": "changeBattery",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 920,
        "y": 40,
        "wires": []
    },
    {
        "id": "0c57bd0cb38fab05",
        "type": "mqtt in",
        "z": "e41f2b24f9ea0993",
        "name": "",
        "topic": "batteryHealth",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 180,
        "wires": [
            [
                "e32364c737ae1193"
            ]
        ]
    },
    {
        "id": "e32364c737ae1193",
        "type": "ui_gauge",
        "z": "e41f2b24f9ea0993",
        "name": "",
        "group": "b1da00d4a4965f4a",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Batterihelse",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b32400",
            "#e6e600",
            "#43cb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 370,
        "y": 180,
        "wires": []
    },
    {
        "id": "7877b3d516ebe11c",
        "type": "mqtt out",
        "z": "e41f2b24f9ea0993",
        "name": "",
        "topic": "batteryHealth",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 910,
        "y": 100,
        "wires": []
    },
    {
        "id": "0af08e768078d979",
        "type": "inject",
        "z": "e41f2b24f9ea0993",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "100",
        "payloadType": "num",
        "x": 670,
        "y": 100,
        "wires": [
            [
                "7877b3d516ebe11c"
            ]
        ]
    },
    {
        "id": "eb42a082f5c7b151",
        "type": "inject",
        "z": "e41f2b24f9ea0993",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "25",
        "payloadType": "num",
        "x": 670,
        "y": 180,
        "wires": [
            [
                "7877b3d516ebe11c"
            ]
        ]
    },
    {
        "id": "7156640b9fc93905",
        "type": "inject",
        "z": "e41f2b24f9ea0993",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 670,
        "y": 140,
        "wires": [
            [
                "7877b3d516ebe11c"
            ]
        ]
    },
    {
        "id": "c413a56359606ed7",
        "type": "ui_text",
        "z": "e41f2b24f9ea0993",
        "group": "61285987.c20328",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Nåværende batterinivå",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 400,
        "y": 280,
        "wires": []
    },
    {
        "id": "fc2fcdcd828224ef",
        "type": "ui_text",
        "z": "e41f2b24f9ea0993",
        "group": "61285987.c20328",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Tilgjengelig saldo",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 390,
        "y": 320,
        "wires": []
    },
    {
        "id": "fe305d3f59489f44",
        "type": "mqtt in",
        "z": "e41f2b24f9ea0993",
        "name": "",
        "topic": "batteryHealth",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 360,
        "wires": [
            [
                "7b0ffe657a1a8582"
            ]
        ]
    },
    {
        "id": "7b0ffe657a1a8582",
        "type": "ui_text",
        "z": "e41f2b24f9ea0993",
        "group": "b1da00d4a4965f4a",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batterihelse",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 370,
        "y": 360,
        "wires": []
    },
    {
        "id": "bb368955fee234fa",
        "type": "mqtt in",
        "z": "e41f2b24f9ea0993",
        "name": "",
        "topic": "Trashstation",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 480,
        "wires": [
            [
                "2d093b9436fee948",
                "013ea2783e617ff5"
            ]
        ]
    },
    {
        "id": "2d093b9436fee948",
        "type": "ui_text",
        "z": "e41f2b24f9ea0993",
        "group": "5000ea934fe6c1df",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Distance",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 360,
        "y": 540,
        "wires": []
    },
    {
        "id": "58212dd61e275739",
        "type": "mqtt out",
        "z": "e41f2b24f9ea0993",
        "name": "",
        "topic": "trashPay",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 900,
        "y": 480,
        "wires": []
    },
    {
        "id": "8b9b442f7d0ace30",
        "type": "inject",
        "z": "e41f2b24f9ea0993",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 670,
        "y": 300,
        "wires": [
            [
                "d994995ae42da2fc"
            ]
        ]
    },
    {
        "id": "013ea2783e617ff5",
        "type": "function",
        "z": "e41f2b24f9ea0993",
        "name": "return msg",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 480,
        "wires": [
            [
                "58212dd61e275739"
            ]
        ]
    },
    {
        "id": "ee30c43f.95f998",
        "type": "inject",
        "z": "2a4db47e83fbdd72",
        "name": "Update price",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1200",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "pricePerUnit",
        "payload": "",
        "payloadType": "date",
        "x": 460,
        "y": 160,
        "wires": [
            [
                "a0c9e5e6.64e6f8"
            ]
        ]
    },
    {
        "id": "a0c9e5e6.64e6f8",
        "type": "http request",
        "z": "2a4db47e83fbdd72",
        "name": "Alpha Vantage API",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.alphavantage.co/query?function=GLOBAL_QUOTE&symbol=WTI&apikey=RQOBWEYPW3Q5Q8CQ",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 150,
        "y": 100,
        "wires": [
            [
                "2d3f3ba3.7e4f4"
            ]
        ]
    },
    {
        "id": "2d3f3ba3.7e4f4",
        "type": "json",
        "z": "2a4db47e83fbdd72",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 310,
        "y": 100,
        "wires": [
            [
                "1a45e44c.9d9c54"
            ]
        ]
    },
    {
        "id": "1a45e44c.9d9c54",
        "type": "function",
        "z": "2a4db47e83fbdd72",
        "name": "Extract last price",
        "func": "let lastPrice = parseFloat(msg.payload[\"Global Quote\"][\"05. price\"]);\nmsg.payload = lastPrice;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 100,
        "wires": [
            [
                "33f96b8a804ae297",
                "8560fce1d46cb38f",
                "61ee64a711bdb217"
            ]
        ]
    },
    {
        "id": "33f96b8a804ae297",
        "type": "ui_text",
        "z": "2a4db47e83fbdd72",
        "group": "61285987.c20328",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Pris per % lading",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 950,
        "y": 100,
        "wires": []
    },
    {
        "id": "bcdb57fa4ca0b7e0",
        "type": "mqtt in",
        "z": "2a4db47e83fbdd72",
        "name": "",
        "topic": "currentBatteryLevel",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 450,
        "y": 300,
        "wires": [
            [
                "8560fce1d46cb38f"
            ]
        ]
    },
    {
        "id": "8560fce1d46cb38f",
        "type": "function",
        "z": "2a4db47e83fbdd72",
        "name": "skyserver priceList",
        "func": "// 100%, 80%, 50%, Fast charge, Battery Change\n\nvar priceList = [\n    { name: \"Lade til 50%\", value: NaN },\n    { name: \"Lade til 80%\", value: NaN },\n    { name: \"Lade til 100%\", value: NaN },\n    { name: \"Hurtiglading\", value: NaN },\n    { name: \"Batteribytte\", value: 2000 }\n];\n\nvar priceListGlobal = flow.get('priceListGlobal') || {};\n\n// Lagrer variablene til senere, har den ikke fått noe er den lik 0\nvar pricePerUnit = priceListGlobal.pricePerUnit || 0;\nvar currentBatteryLevel = priceListGlobal.currentBatteryLevel || 0;\n\nswitch (msg.topic) {\n\n    case \"pricePerUnit\":\n        priceListGlobal.pricePerUnit = msg.payload;\n        break;\n\n    case \"currentBatteryLevel\":\n        priceListGlobal.currentBatteryLevel = msg.payload;\n        break;\n\n    default:\n        // Handle unknown topic values here\n        break;\n}\nif (currentBatteryLevel < 50) {  // Pris for 50%\n    priceList[0].value = (50 - currentBatteryLevel) * pricePerUnit;\n}\nif (currentBatteryLevel < 80) {  // Pris for 80%\n    priceList[1].value = (80 - currentBatteryLevel) * pricePerUnit;\n}\nif (currentBatteryLevel < 100) {  // Pris for fullading med/uten hurtiglading\n    priceList[2].value = (100 - currentBatteryLevel) * pricePerUnit;\n    priceList[3].value = 3 * (100 - currentBatteryLevel) * pricePerUnit;\n}\npriceList[4].value = 2000;\n\nflow.set('priceListGlobal', priceListGlobal);\n\nreturn { payload: priceList };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 180,
        "wires": [
            [
                "33b9cd14f619e7ba"
            ]
        ]
    },
    {
        "id": "b92b8e6e.69445",
        "type": "inject",
        "z": "2a4db47e83fbdd72",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello World!",
        "payloadType": "str",
        "x": 150,
        "y": 880,
        "wires": [
            [
                "9e3b5a5d.0b91f8"
            ]
        ]
    },
    {
        "id": "9e3b5a5d.0b91f8",
        "type": "function",
        "z": "2a4db47e83fbdd72",
        "name": "Rename payload",
        "func": "msg.myNewName = msg.payload;\ndelete msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 880,
        "wires": [
            [
                "d2c25e4d.e4e3c"
            ]
        ]
    },
    {
        "id": "d2c25e4d.e4e3c",
        "type": "debug",
        "z": "2a4db47e83fbdd72",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 880,
        "wires": []
    },
    {
        "id": "2c51571876b44d6f",
        "type": "function",
        "z": "2a4db47e83fbdd72",
        "name": "Rename payload",
        "func": "msg.currentBatteryLevel = parseInt(msg.payload);\n\n// Delete the original payload\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 760,
        "wires": [
            [
                "18e59574d88e1d51"
            ]
        ]
    },
    {
        "id": "50fd8dadb8dd084a",
        "type": "inject",
        "z": "2a4db47e83fbdd72",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 760,
        "wires": [
            [
                "2c51571876b44d6f"
            ]
        ]
    },
    {
        "id": "18e59574d88e1d51",
        "type": "debug",
        "z": "2a4db47e83fbdd72",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 760,
        "wires": []
    },
    {
        "id": "a1841dd2d790bfc0",
        "type": "inject",
        "z": "2a4db47e83fbdd72",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "currentBatteryLevel",
        "payload": "85",
        "payloadType": "num",
        "x": 440,
        "y": 220,
        "wires": [
            [
                "8560fce1d46cb38f"
            ]
        ]
    },
    {
        "id": "33b9cd14f619e7ba",
        "type": "ui_template",
        "z": "2a4db47e83fbdd72",
        "group": "61285987.c20328",
        "name": "priceList table",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n    table {\n        font-family: arial, sans-serif;\n        border-collapse: collapse;\n        width: 100%;\n    }\n\n    th {\n        background-color: #4CAF50;\n        /* Header farge */\n        color: white;\n        /* Tekst farge */\n    }\n\n    td,\n    th {\n        border: 1px solid #dddddd;\n        text-align: left;\n        padding: 8px;\n    }\n    tr:nth-child(even) {\n        background-color: #434343; /* Endrer farge på annenhver rekke */\n    }\n</style>\n\n<table>\n    <thead>\n        <tr>\n            <th>Produkt</th>\n            <th>Pris</th>\n        </tr>\n    </thead>\n    <tbody>\n        <tr ng-repeat=\"item in msg.payload\">\n            <td>{{item.name}}</td>\n            <td>{{item.value | number:2}}</td>\n        </tr>\n    </tbody>\n</table>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 940,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "0cf809bc7509204c",
        "type": "inject",
        "z": "2a4db47e83fbdd72",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "currentBatteryLevel",
        "payload": "40",
        "payloadType": "num",
        "x": 440,
        "y": 260,
        "wires": [
            [
                "8560fce1d46cb38f"
            ]
        ]
    },
    {
        "id": "89e34cf960f5beae",
        "type": "comment",
        "z": "2a4db47e83fbdd72",
        "name": "priceList",
        "info": "Itererer gjennom arrayet priceList og oppdaterer tabellen, og legger til farger",
        "x": 920,
        "y": 220,
        "wires": []
    },
    {
        "id": "61ee64a711bdb217",
        "type": "mqtt out",
        "z": "2a4db47e83fbdd72",
        "name": "",
        "topic": "costPerCharge",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 940,
        "y": 60,
        "wires": []
    }
]